/* .header
{
    height: 65px;
    background-color: blanchedalmond;   
} */
.nv
{
    position: absolute;
    top: 0px;
    right: 35px;
}
ul
{
    list-style: none;
    overflow: hidden;
}
li
{
    float: left;
}
li a
{
    text-decoration: none;
    display: block;
    padding: 10px 13px;
    font-weight: 800;
    font-size: medium;
    cursor: pointer;
    color: #000000;
}
li a:hover
{
    background-color: seagreen;
    text-decoration: none;
}