/* .header
{
    height: 65px;
    background-color: blanchedalmond;   
} */
.nv
{
    position: absolute;
    top: 0px;
    right: 35px;
    z-index: 10;
}
ul
{
    list-style: none;
    overflow: hidden;
}
li
{
    float: left;
}
li a
{
    text-decoration: none;
    display: block;
    padding: 10px 13px;
    font-weight: 800;
    font-size: medium;
    cursor: pointer;
    color: #000000;
}
li a:hover
{
    background-color: snow;
    text-decoration: none;
}
.navbar-dark .navbar-toggler {
    background-color: black;
    /* color: rgba(255,255,255,.5); */
    /* border-color: rgba(255,255,255,.1); */
}
.slider
{

}
.lef-sd
{
}
.right-sd
{

}