*
{
    margin: 0px;
    padding: 0px;
}

#container
{
    font-family: Helvetica ,Helvetica,Arial,sans-serif; 
}
.row
{
        margin-right: 0px;
}
.ted
{
    margin-top: -6px;
}
.idea
{
    margin-top: 18px;
    margin-left: -40px;
    color: #999;
}
ul {
  list-style-type: none;
  overflow: hidden;
  margin-left: 28%;
  margin-bottom: 0;
  margin-top: 5px;
  }
li {
    float: right;
}
li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover:not(.active) {
    background-color: #f0f0f0;
  }
.second-part
{
  width: 100%;
  height: 245px;
  background-image: url(https://pl.tedcdn.com/ted-connects-covid/bckg-noise-ptrn-4.png);
}
.sec-contant
{
    width: 100%;
    height: 190px;
    display: flex;
    margin-top: 25px;
}
.vid-sec
{
  
}